<div class="topbar">
  <div class="left-col">
    <h1 class="page-title"><%= title %></h1>
    <h3 class="client-name"><%= clientName %></h3>
  </div>
  <div class="right-col">
    <div class="nav-group utility">
      Utility
      <div class="nav-group-items">
        <a href="/utility/fv-calculator" class="nav-item fv-calculator"
          >FV Calculator</a
        >
        <a href="/utility/retirement-fund" class="nav-item retirement-fund"
          >Estimate Fund</a
        >
      </div>
    </div>
    <div class="nav-group setting">
      Setting
      <div class="nav-group-items">
        <a href="/setting/report" class="nav-item report">Report</a>
        <a href="/setting/log-out" class="nav-item log-out">Logout</a>
      </div>
    </div>
  </div>
</div>
