<div class="declaration">
  <h3>your declaration type</h3>
  <table>
    <tr>
      <th>Option 1</th>
      <th>
        I/We wish to disclose <b>all information</b> requested in this form.
        <br />
        (Applicable only if the client consents to disclose all information.)
      </th>
      <td class="radio-container">
        <input type="radio" name="all-info" value="true" />
      </td>
    </tr>
    <tr>
      <th>Option 2</th>
      <th>
        I/We do not wish to disclose <b>all information</b> requested in this
        form.
        <br />
        (Applicable only if the client consents to disclose certain information
        only.)
      </th>
      <td class="radio-container">
        <input type="radio" name="all-info" value="true" />
      </td>
    </tr>
  </table>
</div>
<div class="personal-info">
  <h3>personal information</h3>
  <table>
    <thead>
      <th>Category</th>
      <th>Client</th>
      <th>Spouse</th>
    </thead>
    <tr>
      <th>Title</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Name</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>NRIC / Passport No.</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>D.O.B (DD/MM/YY)</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Age (this year)</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Marital Status</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Contact No.</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Email</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Nationality</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Race</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Address</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Property Type</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Home Ownership</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Education Level</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Occupation</th>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
