<div class="agent-info">
  <table>
    <tr class="date">
      <th>Date of Fact Find (DD/MM/YYYY)</th>
      <td>06/06/1997</td>
    </tr>
    <tr class="agent-name">
      <th>Name of Agent</th>
      <td>Amirrul Kasmirhan</td>
    </tr>
    <tr class="agent-code">
      <th>Agent Code</th>
      <td>14211</td>
    </tr>
    <tr class="agent-email">
      <th>Agent Email</th>
      <td>amirrul.kasmirhan@aia.com.bn</td>
    </tr>
    <tr class="agent-number">
      <th>Agent Phone No.</th>
      <td>+673 7306697</td>
    </tr>
  </table>
</div>
