<div class="dependants">
  <h3>your dependants</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Relationship</th>
      <th>Sex</th>
      <th>Suggested Age to Support</th>
      <th>Current Age</th>
      <th>Years to Support</th>
      <th>Income</th>
    </thead>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class = "uneditable"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div class="suggested-age">
  <table>
    <thead>
      <th colspan="2">Suggested Age to Support</th>
    </thead>
    <tr>
      <th>Child - Male</th>
      <td>22</td>
    </tr>
    <tr>
      <th>Child - Female</th>
      <td>22</td>
    </tr>
    <tr>
      <th>Adult - Male</th>
      <td>83</td>
    </tr>
    <tr>
      <th>Adult - Female</th>
      <td>88</td>
    </tr>
  </table>
</div>
