<div class="disclaimer">
  <h1>The aia insurance agent professional pledge</h1>
  <p>
    In all my professional dealings on behalf of AIA and my customers, I pledge
    the following:
  </p>
  <p>
    In light of all the facts pertaining to my customers, which I will make
    every effort to understand, I will recommend those products and services
    which, in the same circumstances, I would recommend myself.
  </p>
</div>
<div class="notice">
  <h1>Important notice to you</h1>
  <p>
    Your AIA Insurance Agent (IA) is a representative of American International
    Assurance Company, Limited (AIA), which is his or her PRINCIPAL Company, and
    can advise you on the insurance products of AIA.
  </p>
  <p>
    Your IA must have sufficient information before making a suitable
    recommendation. The information that you provide on your investment
    objectives, financial situation and your particular needs will be the basis
    on which advice will be given. Your IA will not have the capacity to decide
    on your behalf in respect of this proposal. Policies and/or financial
    products purchased without the completion of an AIA Financial Health Review
    “KNOW YOUR NEEDS” and “RECOMMENDATIONS”, or following partial or inaccurate
    completion, may not be appropriate to your needs.
  </p>
</div>
