<div class="desc">
  <h3>friendly notice</h3>
  <p>
    Your Financial Ratios Analysis represents your current financial position
    and it changes over time. Depending on your life stage, your financial
    commitments and your priorities, you need to review your position regularly.
    No one ratio should be reviewed in isolation and be conclusive of your
    financial position.
  </p>
</div>
<div class="ratios">
  <h3>recommended ratios</h3>
  <table>
    <thead>
      <tr>
        <th rowspan="2">Financial Ratios</th>
        <th class="text-center" colspan="2">Recommended</th>
        <th rowspan="2">Actual</th>
      </tr>
      <tr>
        <th class="text-center">From</th>
        <th class="text-center">To</th>
      </tr>
    </thead>
    <tbody>
      <tr class="ratio emergency-fund">
        <th>Basic Liquidity (in months)</th>
        <td class="text-center">3</td>
        <td class="text-center">6</td>
        <td>{Insert Here}</td>
      </tr>
      <tr class="desc emergency-fund">
        <th colspan="4">
          Essentially emergency fund, which allows you liquidity and flexibility
          in the short run. The recommended months represents the duration of time
          for job-hunting in case of a job loss.
        </th>
      </tr>
      <tr class="ratio liquid">
        <th>Liquid Assets to Net Worth (%)</th>
        <td class="text-center">15%</td>
        <td class="text-center">50%</td>
        <td>{Insert Here}</td>
      </tr>
      <tr class="desc liquid">
        <th colspan="4">
          Measures how accessible your net worth is. It shows if you have adequate
          liquid assets to meet your needs without having to liquidate other assets
          which may incur high costs. Higher holdings in liquid assets is
          recommended for retirement; however, having more than the max recommended
          indicates most of your worth is not working for you.
        </th>
      </tr>
      <tr class="ratio debt">
        <th>Debts to Assets (%)</th>
        <td class="text-center">0%</td>
        <td class="text-center">50%</td>
        <td>{Insert Here}</td>
      </tr>
      <tr class="desc debt">
        <th colspan="4">
          Indicates how much of your assets are still mortgaged to financial
          institutions. The higher your ratio, the less debt-free assets you have.
        </th>
      </tr>
      <tr class="ratio investment">
        <th>Net Investment Asset to Net Worth (%)</th>
        <td class="text-center">50%</td>
        <td class="text-center">100%</td>
        <td>{Insert Here}</td>
      </tr>
      <tr class="desc investment">
        <th colspan="4">
          Provides an idea of how much of your assets are working for you. Invested
          assets are normally acquired or held to produce an income or have future
          capital growth and are available to one or one’s dependents in the event
          of premature death, disablement, etc. It also includes your assets other
          than those held for personal use and in cash equivalents.
        </th>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Budgeting</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Debt Service</th>
        <td class="text-center">0%</td>
        <td class="text-center">40%</td>
        <td>{Insert Here}</td>
      </tr>
      <tr>
        <th>Expenses / Needs</th>
        <td class="text-center">0%</td>
        <td class="text-center">30%</td>
        <td>{Insert Here}</td>
      </tr>
      <tr>
        <th>Fixed Savings</th>
        <td class="text-center">10%</td>
        <td class="text-center">20%</td>
        <td>{Insert Here}</td>
      </tr>
      <tr>
        <th>Investment / Protection</th>
        <td class="text-center">10%</td>
        <td class="text-center">50%</td>
        <td>{Insert Here}</td>
      </tr>
    </tbody>
  </table>
</div>
