<div class="top networth summary">
  <div class="left-col summary-table">
    <h3>networth summary</h3>
    <table>
      <thead>
        <th>Category</th>
        <th>Amount</th>
      </thead>
      <tbody>
      <tr>
        <th>Personal Assets</th>
        <th>$0.00</th>
      </tr>
      <tr>
        <th>Invested Assets</th>
        <th>$0.00</th>
      </tr>
      <tr>
        <th>Cash Equivalents</th>
        <th>$0.00</th>
      </tr>
      <tfoot>
        <tr>
          <td>Total Assets</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>Total Liabilities</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>Networth</td>
          <td>$0.00</td>
        </tr>
      </tbody>
      </tfoot>
    </table>
  </div>
  <div class="right-col summary-chart">
    <div class="inner">
      <p>Your Asset Distribution</p>
    </div>
  </div>
</div>
<div class="bottom networth breakdown">
  <div class="inner">
    <div class="personal">
      <h3>personal use assets</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <tr>
          <th>Family Home</th>
          <td></td>
        </tr>
        <tr>
          <th>Mtr Vehicles</th>
          <td></td>
        </tr>
        <tr>
          <th>Home Content</th>
          <td></td>
        </tr>
        <tr>
          <th>Others</th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="cash">
      <h3>cash equivalents</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <tr>
          <th>Saving Deposits</th>
          <td></td>
        </tr>
        <tr>
          <th>Fixed Deposits</th>
          <td></td>
        </tr>
        <tr>
          <th>Others</th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="invested">
      <h3>Invested Assets</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <tr>
          <th>Shares</th>
          <td></td>
        </tr>
        <tr>
          <th>Managed Investments</th>
          <td></td>
        </tr>
        <tr>
          <th>TAP</th>
          <td></td>
        </tr>
        <tr>
          <th>Invested Property</th>
          <td></td>
        </tr>
        <tr>
          <th>Others</th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="liabilities">
      <h3>Liabilities</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <tr>
          <th>Mortgage</th>
          <td></td>
        </tr>
        <tr>
          <th>Personal/Credit</th>
          <td></td>
        </tr>
        <tr>
          <th>Mtr Vehicles</th>
          <td></td>
        </tr>
        <tr>
          <th>Others</th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
  </div>
</div>
